/*
You can easily change the look and feel of a resume by changing the font type.
Go to google fonts and play with different options. See what you like.
*/

@import url(http://fonts.googleapis.com/css?family=Merriweather);

body {
	background: #fff;
	font-family: 'Merriweather', serif;
}

header {padding-top: 20px;}

h1,h2,h3,h4,h5,h6 {font-family: inherit;}

.name {
	font-weight: bold;
	font-size: 1.3em;
}

.section-head {
	background: #f5f5f5;
	margin-top: 50px;
	padding-top: 15px;
	padding-bottom: 10px;
	font-weight: bold;
	font-size: 1.6em;
	border-top: 3px solid #222;
	border-bottom: 2px solid #999;
}

.section-body {
	margin-top: 30px;
}

.section-name {
	font-size: 1.2em;
}

.section-description {
	text-align: justify;
	font-size: 1.1em;
	padding-top: 10px;
	padding-bottom: 30px;
}
